@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/functions';
@import 'partials/typography';

@import "modules/animations";
@import "modules/forms";
@import "modules/buttons";

// Extra small devices (portrait phones, less than 576px)
@import "breakpoints/base";

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) {
  @import "breakpoints/small";
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
  @import "breakpoints/medium";
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
  @import "breakpoints/large";
}

// RETINA (2x RESOLUTION DEVICES)
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
  @import "breakpoints/2x";
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
  @import "breakpoints/xlarge";
}

@media print {
  @import "partials/print";
}

[v-cloak] {
	opacity: 0;
}

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    font-weight: 200;
}

.form-control {
  font-size: 14px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn-transparent {
  background-color: transparent;
}

.main-panel {
    background: rgba(203, 203, 210, 0.15);
    min-height: 100vh;
}

.list-group.checked-list-box li {
  > i {
    cursor: pointer;
  }
  .fa-fw {
    text-align: left;
  }
  // &::before {
  //   content: '';
  //   display: inline-block;
  //   vertical-align: sub;
  //   width: 20px;
  //   height: 20px;
  //   border: solid 1px grey;
  //   border-radius: 5px;
  //   margin-right: 5px;
  // }
}

.list-group-input {
    border: none;
    &:focus {
      outline: none;
      color: #399fdb;
    }
}

.sidebar {
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    //background-image: url('/resources/img/sidebar-bg-attain.jpg');
    background-position: center center;
    background-size: cover;
    background-color: #399fdb;
    .nav-link {
      color: #ffffff;
      &.active {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
}

.card {
  .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    img {
      width: 100%;
    }
  }
  .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }
  .title {
      margin: 0;
      color: #333333;
      font-weight: 300;
  }
  .list-group {
    margin: 1.25rem -1.25rem;
    .list-group-item {
      border-left: 0;
      border-right: 0;
      &:first-child,
      &:last-child {
        border-radius: 0;
      }
    }
  }
}

.card-user {
  h4.title {
    font-size: 1.2em;
  }
  .image {
    height: 110px;
    img {
      margin-top: -25%;
    }
  }
  .author {
      text-align: center;
      text-transform: none;
      margin-top: -70px;
  }
  .avatar {
    width: 124px;
    height: 124px;
    border: 5px solid #FFFFFF;
    position: relative;
    margin-bottom: 15px;
    .border-gray {
        border-color: #EEEEEE;
    }
  }
  .card-user .title {
      line-height: 24px;
  }
}