//Flat UI
$pickled-bluewood:	#2C3E50;
$cinnabar:			#E74C3C;
$porcelain:			#ECF0F1;
$curious-blue:		#3498DB;
$mariner:			#2980B9;

$primary-color:		$curious-blue;
$primary-color-alt:	$mariner;
$white:				#F9F9F9;
$black:				#1C1C1C;
