[v-cloak] {
	opacity: 0;
}

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    font-weight: 200;
}

.form-control {
  font-size: 14px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn-transparent {
  background-color: transparent;
}

.main-panel {
    background: rgba(203, 203, 210, 0.15);
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    //background-image: url('/resources/img/sidebar-bg-attain.jpg');
    background-position: center center;
    background-size: cover;
    background-color: #399fdb;
    .nav-link {
      color: #ffffff;
      &.active {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
}

.card {
  .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    img {
      width: 100%;
    }
  }
  .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }
  .title {
      margin: 0;
      color: #333333;
      font-weight: 300;
  }
}

.card-user {
  h4.title {
    font-size: 1.2em;
  }
  .image {
    height: 110px;
    img {
      margin-top: -25%;
    }
  }
  .author {
      text-align: center;
      text-transform: none;
      margin-top: -70px;
  }
  .avatar {
    width: 124px;
    height: 124px;
    border: 5px solid #FFFFFF;
    position: relative;
    margin-bottom: 15px;
    .border-gray {
        border-color: #EEEEEE;
    }
  }
  .card-user .title {
      line-height: 24px;
  }
}